{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Iniciar sesión{% endblock %}
{% load static %}

{% block content %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="login-wrap p-4 b-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                             <img src="{% static 'img/logo.png' %}" style=" width: 40%">
                        </div>
                        <h3 class="text-center mb-4">Iniciar sesión</h3>
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form | crispy }}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                            </div>

                            <div class="d-grid">
                                <a class="button secondaryAction" href="{% url 'account_reset_password' %}"> ¿Olvidaste
                                    tu
                                    contraseña? </a>
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"> Iniciar
                                    sesión
                                </button>
                            </div>
                            <div class="divider">
                                <div class="line">
                                    <span class="line-text">O</span>
                                </div>
                            </div>
                            <!-- Social Buttons -->
                            <div class="d-flex">
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-center">
                                        <a href="{% provider_login_url 'google' %}"
                                           class="btn btn-lg btn-block btn-google" data-toggle="tooltip"
                                           data-placement="top" title="Logueo con Google"><i
                                                class="fab fa-google fa-2x"></i><span class="hidden-xs"></span> </a>
                                        <a href="{% provider_login_url 'github' %}"
                                           class="btn btn-lg btn-block btn-github" data-toggle="tooltip"
                                           data-placement="top" title="Logueo con Github"><i
                                                class="fa fa-github fa-2x"></i><span class="hidden-xs"></span></a>
                                        <a href="{% provider_login_url 'facebook' %}"
                                           class="btn btn-lg btn-block btn-facebook" data-toggle="tooltip"
                                           data-placement="top" title="Logueo con Facebook"><i
                                                class="fab fa-facebook fa-2x"></i><span class="hidden-xs"></span></a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    <div class="row justify-content-center">
                        <div class=" text-center mb-4">
                        ¿Aún no tienes cuenta? <a href="{{ signup_url }}">Regístrate aquí</a>
                       </div>
                </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>






    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

{% endblock %}



