{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block head_title %}Editar Perfil{% endblock %}

{% block content %}

<div class="page-content page-container" id="page-content">
        <div class="row container d-flex justify-content-center">
        <div class="card shadow rounded-3 my-5">
            <br>
            <h3> Editar Perfil </h3>

            <form method="POST" action="{% url 'profile-edit' user.username %}" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form | crispy }}
            <br>
            <a class="btn btn-secondary " href="{% url 'profile' user.username %}">Cancelar</a>
            <button class="btn btn-primary" type="submit"> Guardar cambios </button>
            </form>
            <br>
        </div>
</div>
</div>

{% endblock %}