
{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


{% load static %}

{% block content %}

 <section class="ftco-section">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/logo.png' %}" style=" width: 30%">
                        </div>
                        <h3 class="text-center mb-4">Iniciar sesión</h3>
                        <form class="login" method="POST" action="{% url 'account_signup' %}" enctype='multipart/form-data'>
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form | crispy }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                            </div>
                        <br>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"> Registrarse
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-center">
                        <div class=" text-center mb-2">
                        ¿Ya tienes una cuenta? <a href="{{ login_url }}">Inicia sesión</a>
                       </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

{% endblock %}




