{% extends "account/base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Ideas" %}{% endblock %}

{% block content %}

            <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-between mb-3"> <span><strong> <h5>Ideas</h5></strong></span> <a class="btn btn-primary" href="{% url 'board-create' %}" role="button">Añadir Tablero</a> </div>    <div class="row g-2">
        {% for idea in idea %}
                <div class="col-md-3">
            <div class="card p-2 py-3">
            <div class="d-flex justify-content-between align-items-center p-2 first">
                                <h5 class="card-title">{{ idea.title }} </h5>
                                <div class="item-action dropdown"><a href="#" data-bs-toggle="dropdown"
                                                                     class="text-muted" data-abc="true"> <i
                                        class="fas fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right bg-white" role="menu"><a
                                            class="dropdown-item" href="" data-abc="true">Expandir</a><a
                                            class="dropdown-item edit" data-abc="true">Editar idea</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item trash" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar tablero</a>
                                    </div>
                                </div>
            </div>
                <h6>{{ idea.content }}</h6>
<div class="d-flex">
                                <div class="w-30">
                                        <img src="{{ idea.user.profile_picture.url }}" class="img-radius" style="width: 35px; height: 35px; margin: 5px; border-radius: 50%;"
                                         alt="Imagen de perfil"> </a>
                                </div>
                                <div class="w-70">
                                        <p class="mb-0">
                            <small>{{ idea.user.first_name }}</small>
                            <small>{{ idea.user.last_name }}</small>
                        </p>
                                </div>
                            </div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-md  modal-dialog-centered">
                <div class="modal-content rounded-0">
                    <form method="post" action="">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar tablero</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Está seguro de eliminar el tablero {{ board.name }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}