{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block head_title %}Eliminar idea{% endblock %}

{% block content %}

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <h3> Eliminar idea: {{ idea.title }}</h3>

            <form method="POST" action="{% url 'ideas-delete' board.id idea.id %}">
            {% csrf_token %}
            {{ form | crispy }}
            <br>
            <a class="btn btn-secondary " href="{% url 'board' board.id %}">Cancelar</a>
            <button class="btn btn-primary" type="submit"> Eliminar </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}