

/*Login Template*/

body {
  background: #cfd8dc;
  background: linear-gradient(to right, #eceff1, #eeeeee);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: #ea4335 !important;
  transition: all ease .2s;
}

.btn-github {
  color: #000000 !important;
  transition: all ease .2s;
}

.btn-facebook {
  color: #3b5998 !important;
  transition: all ease .2s;
}

.btn-google:hover {
    color: #ea4435de !important;
}

.btn-github:hover {
    color: #696969 !important;
}

.btn-facebook:hover {
    color: #1876f2dc !important;
}


/*Login Template Social Buttons */
.divider {
    background-color: rgb(169, 169, 169) !important;
    margin: 20px 0px;
}

.line {
    position: relative;
    height: 2px;
    background: rgb(192 192 192);
    display: flex;
    justify-content: center;
}

.line-text {
    position: absolute;
    top: -13px;
    background: #ffffff;
    border-radius: 100%;
    padding: 2px 8px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 20%;
    }
}

/* Navbar */

.dropdown-toggle::after {
    content: none !important
}

.form-control:focus {
    box-shadow: none !important
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem
}

.input-group-append button {
    box-shadow: none !important
}

.rounded-circle {
    width: 40px;
    height: 40px
}

.dropdown-toggle {
    width: 10rem !important
}

/* Footer */



a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 30px 0;
}
.bottom {
    background-color: #0a1c2e;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #aadbc1;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}









/* Profile*/








.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}