{% extends "website/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Inicio{% endblock %}

{

{% block content %}

<div class="position-relative overflow-hidden">
	<div class="d-flex min-vh-100" lc-helper="video-bg">
		<video style="z-index:1;object-fit: cover; object-position: 50% 50%; -webkit-filter: blur(5px); filter: blur(5px);
" class="position-absolute w-100 min-vh-100" autoplay="" preload="" muted="" loop="" playsinline="">
			<!-- adjust object-position to tweak cropping on mobile -->
			<source src="https://vod-progressive.akamaized.net/exp=1637975709~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F1990%2F13%2F334950213%2F1323782287.mp4~hmac=1a3a93339a1b4f373097dcab76eae9909146d13f080abcbee0514d7e35d90ce0/vimeo-prod-skyfire-std-us/01/1990/13/334950213/1323782287.mp4?filename=Codes+-+23355.mp4" type="video/mp4">
		</video>
		<div style="z-index:2" class="align-self-center text-center text-light col-md-8 offset-md-2">
			<div class="lc-block mb-4">
				<div editable="rich">
					<h1 class="display-1 fw-bolder">Una plataforma diseñada para ti</h1>
				</div>
			</div>

			<div class="lc-block">
				<div editable="rich">
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>

					<p class="lead">Sim in vestibulum metus pulvinar sit amet.

					</p>

				</div>
			</div>
            <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
                			<a class="btn btn-block btn-primary" href="{% url 'services' %}" role="button">Saber más</a>
            </div>
		</div>
	</div>
</div>

{% endblock %}