{% extends "website/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Servicios{% endblock %}


{% block content %}
    <div class="container">
    <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Nuestros Servicios</h2>
                </div>
            </div>
        </div>
        <div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
            <div class="hd">¿Por qué las personas adquiere nuestro producto?</div>
            <p><small class="text-muted">Los servicios incluidos con el producto <br/> permiten a nuestros clientes
                lograr sus objetivos.</small></p>
            <div class="row">
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Diseño Funcional</h5>
                            <p>El diseño del sitio y la plataforma es amigable con el usuario</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Sin subscripciones o pagos</h5>
                            <p>Este proyecto es y seguirá siendo gratuito</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fa fa-comment"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Soporte inmediato</h5>
                            <p>No dudes en contactarnos, estamos para servirle </p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Responsivo</h5>
                            <p>El proyecto ha sido desarrollado para ser adaptable a cualquier pantalla</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fa fa-th"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Pruebas A/B</h5>
                            <p>Se llevaron a cabo pruebas para evaluar la respuesta del púbico objetivo </p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fa fa-sign-out-alt"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Mayor control</h5>
                            <p>Desactiva tu cuenta en cualquier momento</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
            </div>
        </div>

        <div class="container-fluid mx-auto mt-5 mb-5 col-12" style="text-align: center">
            <div class="hd">Testimonios</div>
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="card-img pt-2 pb-3"><img src="https://i.pravatar.cc/300?img=38" alt=""></div>
                            <div class="name h5">Laura Avedaño</div>
                            <div class="testimonial"> Ahora estoy al tanto de lo que necesito, gracias a la
                                plataforma.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="card-img pt-2 pb-3"><img src="https://i.pravatar.cc/300?img=32" alt=""></div>
                            <div class="name h5">Sofia Robledo</div>
                            <div class="testimonial"> Hago uso de los servicios dispuestos y ahora tengo más tiempo para
                                mí
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="card-img pt-2 pb-3"><img src="https://i.pravatar.cc/300?img=59"/></div>
                            <div class="name h5">Pedro Mora</div>
                            <div class="testimonial"> LLevo una semana haciendo uso de esta herramienta y me ha sido de
                                mucha ayuda
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}