

/*Template*/

body {
  background: #fafafa;
  background: linear-gradient(to right, #eceff1, #eeeeee);
  min-height: 400px;
  margin-top:20px;
  padding-bottom: 80px;
  clear: both;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

#rise {
  background: gold;
  border-radius: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: 70px;
  width: 70px;
}

.divider {
    background-color: rgb(169, 169, 169) !important;
    margin: 20px 0px;
}

.line {
    position: relative;
    height: 2px;
    background: rgb(192 192 192);
    display: flex;
    justify-content: center;
}

.line-text {
    position: absolute;
    top: -13px;
    background: #ffffff;
    border-radius: 100%;
    padding: 2px 8px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 20%;
    }
}

/*Login Template Social Buttons */

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: #ea4335 !important;
  transition: all ease .2s;
}

.btn-github {
  color: #000000 !important;
  transition: all ease .2s;
}

.btn-facebook {
  color: #3b5998 !important;
  transition: all ease .2s;
}

.btn-google:hover {
    color: #ea4435de !important;
}

.btn-github:hover {
    color: #696969 !important;
}

.btn-facebook:hover {
    color: #1876f2dc !important;
}


/* Navbar */

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}
.navbar .navbar-brand {
    font-family: 'Bahnschrift', serif;
  font-size: 20px;
}

.navbar.navbar-light .navbar-nav .nav-link.active {
  color: #006db3;
}

@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.dropdown-toggle::after {
    content: none !important
}

.form-control:focus {
    box-shadow: none !important
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem
}

.input-group-append button {
    box-shadow: none !important
}

.rounded-circle {
    width: 40px;
    height: 40px
}

.dropdown-toggle {
    width: 10rem !important
}



/* Footer */

a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 9px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottom {
    background-color: #0a1c2e;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #aadbc1;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #ffffff;
}



/* Profile*/

.padding {
    padding: 3rem !important
}


.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#63ccff), to(#006db3));
    background: linear-gradient(to right, #006db3, #63ccff)
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}


/* Alert Template*/

.alert {
    margin-bottom: 5px;
    border-radius: 8px;
    color: #fff;
    font-size: 13px
}

.alert_info {
    background-color: #4285f4;
    border: 2px solid #4285f4
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.close {
    font-size: 20px;
    color: #fff;
    opacity: 0.9;
    font-weight: normal;
}

.alert_success {
    background-color: #09c97f;
    border: 2px solid #09c97f
}

.alert_warning {
    background-color: #f8b15d;
    border: 2px solid #f8b15d
}

.alert_error {
    background-color: #f95668;
    border: 2px solid #f95668
}

.fade_info {
    background-color: #d9e6fb;
    border: 1px solid #4285f4
}

.fade_info .close {
    color: #4285f4
}

.fade_info strong {
    color: #4285f4
}

.fade_success {
    background-color: #c9ffe5;
    border: 1px solid #09c97f
}

.fade_success .close {
    color: #09c97f
}

.fade_success strong {
    color: #09c97f
}

.fade_warning {
    background-color: #fff0cc;
    border: 1px solid #f8b15d
}

.fade_warning .close {
    color: #f8b15d
}

.fade_warning strong {
    color: #f8b15d
}

.fade_error {
    background-color: #ffdbdb;
    border: 1px solid #f95668
}

.fade_error .close {
    color: #f95668
}

.fade_error strong {
    color: #f95668
}



/* Cards*/


.card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
}

.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px #777777;
    box-shadow: 3px 5px 17px -4px #777777
}

.view a {
    border-radius: 4px;
    background-color: #ffffff;
    color: #000;
    border-color: #ffffff;
    font-size: 13px
}



/* Inbox*/


.p-4 {
    padding: 1.5rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* user-dashboard-info-box */
.user-dashboard-info-box .candidates-list .thumb {
    margin-right: 20px;
}
.user-dashboard-info-box .candidates-list .thumb img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.user-dashboard-info-box .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}

.user-dashboard-info-box .candidates-list td {
    vertical-align: middle;
}

.user-dashboard-info-box td li {
    margin: 0 4px;
}

.user-dashboard-info-box .table thead th {
    border-bottom: none;
}

.table.manage-candidates-top th {
    border: 0;
}

.user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
    margin-bottom: 10px;
}

.table.manage-candidates-top {
    min-width: 650px;
}

.user-dashboard-info-box .candidate-list-details ul {
    color: #969696;
}

/* Candidate List */
.candidate-list {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.candidate-list:hover {
    -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    position: relative;
    z-index: 99;
}
.candidate-list:hover a.candidate-list-favourite {
    color: #e74c3c;
    -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
    box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
    margin-right: 25px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    border: none;
}
.candidate-list .candidate-list-image img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
}

.candidate-list-title {
    margin-bottom: 5px;
}

.candidate-list-details ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.candidate-list-details ul li {
    margin: 5px 10px 5px 0px;
    font-size: 13px;
}

.candidate-list .candidate-list-favourite-time {
    margin-left: auto;
    text-align: center;
    font-size: 13px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}
.candidate-list .candidate-list-favourite-time span {
    display: block;
    margin: 0 auto;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #eeeeee;
    border-radius: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    font-size: 16px;
    color: #646f79;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
    background: #ffffff;
    color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
    position: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    z-index: inherit;
}

.bg-white {
    background-color: #ffffff !important;
}
.p-4 {
    padding: 1.5rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.user-dashboard-info-box .candidates-list .thumb {
    margin-right: 20px;
}