/*Template*/

body {
  background: #fafafa;
  background: linear-gradient(to right, #fcfcfc, #ffffff);
  min-height: 400px;
  padding-bottom: 80px;
  clear: both;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

#rise {
  background: gold;
  border-radius: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: 70px;
  width: 70px;
}

.divider {
    background-color: rgb(169, 169, 169) !important;
    margin: 20px 0px;
}

.line {
    position: relative;
    height: 2px;
    background: rgb(192 192 192);
    display: flex;
    justify-content: center;
}

.line-text {
    position: absolute;
    top: -13px;
    background: #ffffff;
    border-radius: 100%;
    padding: 2px 8px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 20%;
    }
}

/* Navbar */

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}
.navbar .navbar-brand {
    font-family: 'Bahnschrift', serif;
  font-size: 24px;
}

.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #006db3;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}

.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #006db3;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar-light .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 18px;
}

.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
}
.navbar.fixed-top.navbar-light .navbar-nav .nav-link.active {
  color: #006db3;
}

.dropdown-toggle::after {
    content: none !important
}

.form-control:focus {
    box-shadow: none !important
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem
}

.input-group-append button {
    box-shadow: none !important
}

.rounded-circle {
    width: 40px;
    height: 40px
}

.dropdown-toggle {
    width: 10rem !important
}

/* Testimonial */

.container .row .card .card-body {
    padding: 1rem 1.2rem;
    color: #fff
}

.container .row .card .card-body .card-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    transform: translateY(50px);
    transition: 0.5s;
    border-radius: 50%
}

.container .row .card .card-body .name {
    transform: translateY(50px);
    transition: 0.5s;
    color: #0a1c2e;
}

.container .row .card .card-body .testimonial {
    font-size: 0.9rem;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.5s;
    color: #333333;
    opacity: 0
}

.container .row .card:hover .card-body .testimonial,
.container .row .card:hover .card-body .name,
.container .row .card:hover .card-body .card-img img {
    transform: translateY(0px);
    opacity: 1
}


/* Footer */

a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 9px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottom {
    background-color: #0a1c2e;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #aadbc1;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #ffffff;
}

/* Message Template*/

.alert {
    margin-bottom: 5px;
    border-radius: 8px;
    color: #fff;
    font-size: 13px
}

.alert_info {
    background-color: #4285f4;
    border: 2px solid #4285f4
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.close {
    font-size: 20px;
    color: #fff;
    opacity: 0.9;
    font-weight: normal;
}

.alert_success {
    background-color: #09c97f;
    border: 2px solid #09c97f
}

.alert_warning {
    background-color: #f8b15d;
    border: 2px solid #f8b15d
}

.alert_error {
    background-color: #f95668;
    border: 2px solid #f95668
}

.fade_info {
    background-color: #d9e6fb;
    border: 1px solid #4285f4
}

.fade_info .close {
    color: #4285f4
}

.fade_info strong {
    color: #4285f4
}

.fade_success {
    background-color: #c9ffe5;
    border: 1px solid #09c97f
}

.fade_success .close {
    color: #09c97f
}

.fade_success strong {
    color: #09c97f
}

.fade_warning {
    background-color: #fff0cc;
    border: 1px solid #f8b15d
}

.fade_warning .close {
    color: #f8b15d
}

.fade_warning strong {
    color: #f8b15d
}

.fade_error {
    background-color: #ffdbdb;
    border: 1px solid #f95668
}

.fade_error .close {
    color: #f95668
}

.fade_error strong {
    color: #f95668
}



/* Cards*/


.card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
}

.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px #777777;
    box-shadow: 3px 5px 17px -4px #777777
}

.view a {
    border-radius: 4px;
    background-color: #ffffff;
    color: #000;
    border-color: #ffffff;
    font-size: 13px
}


/* Titles and sections */
.section {
    padding: 100px 0;
    position: relative;
}

.section-title {
    padding-bottom: 10px;
}
.section-title h2 {
    font-weight: 700;
    color: #1b1b1b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #006db3;
    padding-left: 15px;
}


.hd {
    font-size: 25px;
    font-weight: 550
}

/* Service Section */

.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #006db3;
  color: #ffffff;
  text-align: center;
  border-radius: 80%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #919aa3;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}

/* Contact Section */

* {
    box-sizing: border-box
}

#contactcontainer {
    background-image: linear-gradient(to right, rgba(244,248,255,0), rgba(244,244,246,1));
    border-radius: 15px
}

h2 {
    color: navy
}

.text-muted {
    font-family: 'Ubuntu', sans-serif
}

.fa-map-marker,
.fa-phone,
.fa-envelope {
    font-size: 25px;
    font-weight: bold
}

.icon {
    color: #006db3
}

.contact:hover {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative
}

form .container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto
}

input,
textarea,
.form-control {
    outline: none;
    border: none;
}

.input-field {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px
}

.input-field:hover {
    border: 2px solid #006db3;
    color: #006db3;
}

label {
    font-weight: 500
}

.fa-mobile {
    font-size: 20px
}

#msg {
    height: 220px
}

#contactbutton {
    padding: 5px 10px;
    width: 200px;
    margin: 10px auto
}

.mobile-info {
    display: none
}

@media(min-width:992px) and (max-width:1199px) {
    form {
        width: 75%
    }

    .container {
        margin-top: 50px
    }
}

@media(max-width:767px) {
    .mobile-info {
        display: inline
    }

    .contact-info {
        display: none
    }

    .contact {
        margin: 10px 0;
        border: 1px solid #006db3;
        border-radius: 5px
    }
}

