
<!DOCTYPE html>
{% load static %}
{% load account socialaccount %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/1dca54b605.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Practica AIATIC 2021-2</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Inicio</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Mensajes</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Inbox</a>
                            <a href="#" class="dropdown-item">Sent</a>
                            <a href="#" class="dropdown-item">Drafts</a>
                        </div>
                    </div>
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
            <div class="input-group-append"> <button class="btn btn-primary" type="button"> <i class="fa fa-search fa-sm"></i> </button> </div>
                    </div>
                </form>
                <div class="navbar-nav">
                  <div class="topbar-divider d-none d-sm-block"></div>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow"> <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% user_display user %}</span> <img class="img-profile rounded-circle" src="https://img.icons8.com/bubbles/200/000000/user.png"> </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown"> <a class="dropdown-item" href="perfil/"> <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil </a> <a class="dropdown-item" href=""> <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Ajustes </a> <a class="dropdown-item" href="#"> <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Registros </a>
                <div class="dropdown-divider"></div> <a class="dropdown-item" href="{% url 'account_logout' %}" data-toggle="modal" data-target="#logoutModal"> <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar sesión </a>
            </div>
        </li>
                    </ul>
            </div>
            </div>
        </div>
    </nav>
</header>
<main>

    <div class="py-5 mb-4 bg-light">
        <div class="container">
            <div class="row justify-content-center">

                <br>
                <br>
                <h1>¡Hola Mundo!</h1>
                <p class="lead">Este es el primer jumbotron implementado en esta página de prueba realizada en el
                    transcurso de práctica profesional de ingeniería de sistemas en la empresa A&A SOLUCIONES TIC.</p>
                <hr class="my-4">
                <p>Usualmente aquí iría un vínculo con mayor información al respecto, en este caso puede este botón
                    abrirá una pestaña a Wikipedia</p>
                <p><a href="https://www.wikipedia.org" target="_blank" class="btn btn-primary btn-lg">Saber más</a></p>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card text-white bg-primary mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-white bg-secondary mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Secondary card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-white bg-success mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-white bg-danger mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Danger card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-white bg-warning mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Warning card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-white bg-info mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Info card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Dark card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some dummy text to make up the card's content. You can replace it
                                anytime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>
<footer class="bg-light">
<div class="bottom section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="copyright">
							<p>© <span>2021</span> <a href="#" class="transition">Practicas AIATIC</a> Todos los derechos reservados.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</footer>
</body>
</html>

