{% extends "account/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <img src="{% static 'img/logo.png' %}" style=" display: block; margin-left: auto; margin-right: auto; width: 50%">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Iniciar sesión</h5>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Correo electrónico</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Contraseña</label>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">
                                Recordarme
                            </label>
                        </div>
                        <div class="d-grid">
                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}"> ¿Olvidaste tu
                                contraseña? </a>
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"> Iniciar
                                sesión
                            </button>
                        </div>
                        <div class="divider">
                            <div class="line">
                                <span class="line-text">O</span>
                            </div>
                        </div>
                        <!-- Social Buttons -->
                        <div class="row row-sm-offset-3 socialButtons">
                            <div class="col-xs-2 col-sm-2">
                                <a href=""
                                   class="btn btn-lg btn-block btn-google" data-toggle="tooltip"
                                   data-placement="top" title="Logueo con Google">
                                    <i class="fab fa-google fa-2x"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>

                            <div class="col-xs-2 col-sm-2">
                                <a href=""
                                   class="btn btn-lg btn-block btn-github" data-toggle="tooltip"
                                   data-placement="top" title="Logueo con Github">
                                    <i class="fa fa-github fa-2x"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>

                            <div class="col-xs-2 col-sm-2">
                                <a href=""
                                   class="btn btn-lg btn-block btn-facebook" data-toggle="tooltip"
                                   data-placement="top" title="Logueo con Facebook">
                                    <i class="fab fa-facebook fa-2x"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>

                            <div class="text-center mt-3">
                                ¿Aún no tienes cuenta? <a href="{{ signup_url }}">Regístrate aquí</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


