{% extends "dashboard/base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block head_title %}Crear Tablero{% endblock %}

{% block content %}

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
        <div class="card">
    <h5> Añadir Tablero </h5>
        <div class="card-body">
            <form method="POST" action="{%  url 'board-create' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <a class="btn btn-secondary " href="{% url 'boards' %}">Cancelar</a>
            <button class="btn btn-primary" type="submit"> Actualizar </button>
            </form>
        </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}